<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Cuestionario</title>
</head>

<body>
    <h1>Hola, {{usuario.nombre}}</h1>
    <p>¡Bienvenido al cuestionario ecológico!</p></p>

    <h1>Pregunta 4</h1>
    <p>Al hacer compras, ¿usas bolsas reutilizables?</p>

    <form action="{{ url_for('p4', id_usuario=usuario.id) }}" method="POST">
        <input type="radio" id="siempre" name="p4" value="0" required
        oninvalid="this.setCustomValidity('Por favor, selecciona una opción')"
        onchange="this.setCustomValidity('')">
        

        <button type="submit">Siguiente</button>
    </form>
</body>

</html>