<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Cuestionario</title>
</head>

<body>
    <h1>Hola, {{ usuario.nombre }}</h1>
    <p>¡Bienvenido al cuestionario ecológico!</p>

    <h1>Pregunta 1</h1>
    <p>¿Con qué frecuencia desconectas los aparatos que no estás usando?</p>

    <form action="{{ url_for('p1', id_usuario=usuario.id) }}" method="post">
        <input type="number" name="agua" min="0" required 
        oninvalid="this.setCustomValidity('Por favor, ingresa una cantidad.')" 
        onchange="this.setCustomValidity('')"> <br>

        <button type="submit">Siguiente</button>

    </form> 

</body>


</html>