<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Cuestionario</title>
</head>

<body>
    <h1>Hola, {{ usuario.nombre }}</h1>

    <h1>Pregunta 3</h1>
    <p>¿Cuántos litros de gasolina usaste este mes?</p>

    <form action="{{ url_for('p3', id_usuario=usuario.id) }}" method="post">
        <input type="number" name="gasolina" id="gasolina" min="0" step="0.1" required
        oninvalid="this.setCustomValidity('Por favor, selecciona una opción')" 
        onchange="this.setCustomValidity('')">
        <label for="gasolina">Litros</label> <br>

        <button type="submit">Siguiente</button>
    </form>
</body>

</html>  