<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Cuestionario</title>
</head>

<body>
    <h1>Hola, {{ usuario.nombre }}</h1>

    <h1>Pregunta 2</h1>
    <p>¿Cuántos kWh de electricidad consumiste este mes en tu hogar?</p>

    <form action="{{ url_for('p2', id_usuario=usuario.id) }}" method="post">
        <input type="number" name="luz" min="0" required
        oninvalid="this.setCustomValidity('Por favor, ingresa una cantidad.')" 
        onchange="this.setCustomValidity('')"><br>
        
        <button type="submit">Siguiente</button>

    </form>
</body>

</html>