<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Cuestionario</title>
</head>

<body>
    <h1>Hola, {{usuario.nombre}}</h1>

    <h1>Pregunta 4</h1>
    <p>¿Cuántos minutos, aproximadamente, dura tu ducha diaria?</p>

    <form action="{{ url_for('p4', id_usuario=usuario.id) }}" method="POST">
        <input type="number" id="bano" name="bano" min="0" value="0" required
        oninvalid="this.setCustomValidity('Por favor, selecciona una opción')"
        onchange="this.setCustomValidity('')">
        <label for="bano">Minutos</label><br>
        
        <button type="submit">Siguiente</button>
    </form>
</body>

</html>