<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Cuestionario</title>
</head>

<body>
    <h1>Hola, {{ usuario.nombre }}</h1>
    <p>¡Bienvenido al cuestionario ecológico!</p>

    <h1>Pregunta 1</h1>
    <p>¿Cuántos litrso de agua consumiste este mes?</p>

    <form action="{{ url_for('p1', id_usuario=usuario.id) }}" method="post"> <!--pasa el valor de usuario.id al param id_usuario al generar la url-->
        <input type="number" name="agua" id="agua" min="0" required 
        oninvalid="this.setCustomValidity('Por favor, ingresa una cantidad.')" 
        onchange="this.setCustomValidity('')"> 
        <label for="agua">Litros</label><br>

        <button type="submit">Siguiente</button>

    </form> 

</body>


</html>