<!DOCTYPE html>
<html lang="es">

<title>Cuestionario</title>

<head>
    <meta charset="UTF-8">
    <title>Cuestionario</title>
</head>

<body>
    
    <h1>Pregunta 3</h1>
    <p>¿Cuántas botellas de plástico usas a la semana?</p>

    <form action="/p4" method="post">
        <input type="radio" id="siempre" name="p2" value="0">
        <label for="siempre">Siempre</label>

        <input type="radio" id="aveces" name="p2" value="1" >
        <label for="aveces">A veces</label>

        <input type="radio" id="nunca" name="p2" value="2">
        <label for="nunca">Nunca</label>

        <button type="submit">Siguiente</button>
    </form>
</body>

</html>