<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Cuestionario</title>
</head>

<body>
    <h1>Hola, {{ usuario.nombre }}</h1>
    <p>¡Bienvenido al cuestionario ecológico!</p>

    <h1>Pregunta 1</h1>
    <p>¿Con qué frecuencia desconectas los aparatos que no estás usando?</p>

    <form action="{{ url_for('p1', id_usuario=usuario.id) }}" method="post">
        <input type="radio" id="siempre" name="p1" value="0" required 
        oninvalid="this.setCustomValidity('Por favor, selecciona una opción')" 
        onchange="this.setCustomValidity('')">
        <label for="siempre">Siempre</label><br>

        <input type="radio" id="aveces" name="p1" value="1" >
        <label for="aveces">A veces</label><br>

        <input type="radio" id="nunca" name="p1" value="2">
        <label for="nunca">Nunca</label><br>

        <button type="submit">Siguiente</button>

    </form> 

</body>


</html>