<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Cuestionario</title>
</head>

<body>
    <h1>Hola, {{usuario.nombre}}</h1>

    <h1>Pregunta 6</h1>
    <p>¿Cuánto del total de tu basura separaste para reciclar este mes?</p>

    <form action="{{ url_for('p6', id_usuario=usuario.id) }}" method="POST">
        <input type="radio" id="nada" name="reciclaje" value="0" required
        oninvalid="this.setCustomValidity('Por favor, selecciona una opción')"
        onchange="this.setCustomValidity('')">
        <label for="nada">Nada</label><br>
        
        <input type="radio" id="poco" name="reciclaje" value="0">
        <label for="poco">Poco (1-30%)</label><br>

        <input type="radio" id="algo" name="reciclaje" value="2">
        <label for="algo">Algo (31–70%)</label><br>

        <input type="radio" id="mucho" name="reciclaje" value="3">
        <label for="mucho">Mucho (71–100%)</label><br><br>
        

        <button type="submit">Siguiente</button>
    </form>
</body>

</html>